@import 'tailwindcss';

body {
  min-height: 100vh;

  color: #e1d2e5;
  background: #2d272f;
}

#root {
  min-height: 100vh;
}

label,
input {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
}

input {
  background: #e1d2e51a;
}
