@import 'tailwindcss';
@import 'tw-animate-css';

.dark {
  --color-background: #2d272f;
  --color-accent: rgb(38, 35, 39);
  --color-text: #e1d2e5;
  --color-input-bg: #e1d2e51a;
  --color-error: rgb(248, 111, 111);
}

.light {
  --color-background: #e1d2e5;
  --color-accent: #e1d2e5;
  --color-text: #2d272f;
  --color-input-bg: rgba(38, 35, 39, 0.2);
  --color-error: rgb(215, 41, 41);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
}

#root {
  min-height: 100vh;
}

label,
input {
  font-weight: 500;
}

input {
  background: var(--color-input-bg);
}
