@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background: #2d272f;
  --color-accent: rgb(38, 35, 39);
  --color-text: #e1d2e5;
  --color-input-bg: #e1d2e51a;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
}

#root {
  min-height: 100vh;
}

label,
input {
  color: #ffffff;
  font-weight: 500;
}

input {
  background: var(--color-input-bg);
}

